logs
.project
.settings
.classpath
.metadata
*.class
.data/
*.db
target/
project/boot/
tags
.ensime.msg.counter
ensime_port
.history
.cache
native/
**/.\#*
*.swp
buildinfo.properties
.ensime
.ensime_cache/
